textarea {
    margin: 0px;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    width: 912px;
    height: 361px;
}
h2{
font-family: Lucida Sans Unicode;
}

p{
 font-family: Lucida Sans Unicode;
}

h3{
  font-family: Lucida Sans Unicode;
}

ul{
font-family: Lucida Sans Unicode;
}

li{
font-family: Lucida Sans Unicode;
}

a{
  font-family: Lucida Sans Unicode;
}

.req_space {
    margin-right: 20px;
}

.header_content {
    display: inline-block;
}

header {
  background-color: #272363;
}
