h2{
font-family: Trebuchet MS;
}

p{
 font-family: Trebuchet MS;
}

h3{
  font-family: Trebuchet MS;
}

ul{
font-family: Trebuchet MS;
}

li{
font-family: Trebuchet MS;
}

a{
font-family: Trebuchet MS;
}

